#rand{
    display: flex;
    flex-wrap: wrap;
}
#res{
    /* width: 23%; */
    background-color: aliceblue;
    margin-left: 8px;
    margin-right: 8px;
    /* margin-bottom: 25px; */
    
}
#img{
    width: 150px;
    height: 150px;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#details{
    padding: 2%;
}
/* @media(max-width:768px){
    #res{
        max-width: 90%;
    }
   
}
@media(max-width:1350px){
    #res{
       max-width: 47px;
    }
} */
